#maincontent{
    margin-top:70px;
}

.navbar{
    background-color: #ffcc00;
}

a{
    color: #4d3d00;
}

#image{
    padding-left: 10%;
}

#forms{
    padding-top: 10%;
    padding-bottom: 10%;
}

form {
    padding: 20px 30px 20px 30px;
    border-color: #4d3d00;
    border-style: dashed;
    border-radius: 10px;
}

#image_grid{
    width: 400px;
    height: 300px;
    padding: 10px;
}

footer{
    background-color: #4d3d00;
    color: aliceblue;
    padding-top: 10px;
    margin-top:10px;
}

body {
    background-color: #fffae6;
}

#linkTo{
    padding: 2px 2px 5px 2px;
}

a:hover{
    color: #1a1400
}

#sub{
    width: auto;
    height: auto;
}