<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

</head>
<body>
        <header>
                <nav class="navbar navbar-expand-md fixed-top">
                    <a class="nav-link" href="#">Stamp</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="{{url_for('home')}}">Home</a>
                        </li>
                      </ul>
                      <div class="navbar-nav mt-2 mt-md-0">
                        {% if login %}
                        <a class='nav-link active' href='{{url_for('album', username=username)}}'><img id='avatar' src={{avatar_url}} width='30' height='30'></a>
                        <a class='nav-link active' href="{{url_for('logout')}}">Logout</a>
                        {% else %}
                        <a class='nav-link active' href='{{url_for('signup')}}'>Sign up / Login</a>
                        {% endif %}
                      </div>
                      <div class="navbar-nav mt-2 mt-md-0">
                      </div>
                    </div>
                  </nav>
            </header>

    <main role="main">
        <div class="album py-5" background-color="#ffcc00" style="margin-top:20px">
            <div class="container">
                <div class="row">
                    {% if imgs|length > 0 %}
                    <div class="column">
                        {% if imgs|length % 4 > 0 %}
                            {%for i in range(0, imgs|length // 4 + 1 )%}
                            <a href="{{url_for('display', image_src=imgs[i*4])}}"><img src = "/static/images/{{imgs[i*4]}}" class="img-grid" alt="Responsive image"></a>
                            {%endfor%}
                        {% else %}
                            {%for i in range(0, imgs|length // 4)%}
                            <a href="{{url_for('display', image_src=imgs[i*4])}}"><img src = "/static/images/{{imgs[i*4]}}" class="img-grid" alt="Responsive image"></a>
                            {%endfor%}
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if imgs|length > 1 %}
                    <div class="column">
                        {% if imgs|length % 4 > 1 %}
                            {%for i in range(0, imgs|length // 4 + 1 )%}
                            <a href="{{url_for('display', image_src=imgs[i*4+1])}}"><img src = "/static/images/{{imgs[i*4+1]}}" class="img-grid" alt="Responsive image"></a>
                            {%endfor%}
                        {% else %}
                            {%for i in range(0, imgs|length // 4)%}
                            <a href="{{url_for('display', image_src=imgs[i*4+1])}}"><img src = "/static/images/{{imgs[i*4+1]}}" class="img-grid" alt="Responsive image"></a>
                            {%endfor%}
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if imgs|length > 2 %}
                    <div class="column">
                        {% if imgs|length % 4 > 2 %}
                            {%for i in range(0, imgs|length // 4 + 1 )%}
                            <a href="{{url_for('display', image_src=imgs[i*4+2])}}"><img src = "/static/images/{{imgs[i*4+2]}}" class="img-grid" alt="Responsive image"></a>
                            {%endfor%}
                        {% else %}
                            {%for i in range(0, imgs|length // 4)%}
                            <a href="{{url_for('display', image_src=imgs[i*4+2])}}"><img src = "/static/images/{{imgs[i*4+2]}}" class="img-grid" alt="Responsive image"></a>
                            {%endfor%}
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if imgs|length > 3 %}
                    <div class="column">
                        {% if imgs|length % 4 > 3 %}
                            {%for i in range(0, imgs|length // 4 + 1 )%}
                            <a href="{{url_for('display', image_src=imgs[i*4+3])}}"><img src = "/static/images/{{imgs[i*4+3]}}" class="img-grid" alt="Responsive image"></a>
                            {%endfor%}
                        {% else %}
                            {%for i in range(0, imgs|length // 4)%}
                            <a href="{{url_for('display', image_src=imgs[i*4+3])}}"><img src = "/static/images/{{imgs[i*4+3]}}" class="img-grid" alt="Responsive image"></a>
                            {%endfor%}
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>

    <footer class="page-footer font-small">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <p>Stamp - a tool to transfer your photo into an artwork.</p>
        </div>
        <!-- Copyright -->

    </footer>

</body>
</html> 