<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top">
            <a class="nav-link" href="#">Stamp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('home')}}">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Upload</a>
                </li>
              </ul>
              <div class="navbar-nav mt-2 mt-md-0">
                <a class="nav-link active" href="{{url_for('signup')}}">Sign Up / Login</a>
              </div>
            </div>
          </nav>
    </header>

    <main role="main">
        <div class="album py-5" background-color="#ffcc00" style="margin-top:20px">
            <div class="container">
                <div class="row">
                    {% for img in imgs %}
                    <div id="image_grid">
                        <a href="{{url_for('display', image_src=img)}}"><img src = "/static/images/{{img}}" class="img-thumbnail" height="400px" width="100%"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    <footer class="page-footer font-small">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <p>Stamp - a tool to transfer your photo into an artwork.</p>
        </div>
        <!-- Copyright -->

    </footer>

</body>
</html> 